* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Montserrat', 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
 transition: all 0.4s ease;
}
:root {
 --brand-blue: #389EF8;
 --brand-yellow: #FDBF42;

  --bg-page: #19212E;
  --bg-chatbox: #333942;
  --bg-language-switch: #2D343E;
  --prompt-bg: #2E343F;
  --prompt-text: #F1F2F2;
  --border-color: #3A414B;
  --text-subtitle: #B0B8C1;
  --text-placeholder: #A0AAB4;
  --text-dark: #ffffff;
  --header-footer: #333942;
  --button-shadow: #6c788d;

 --button-radius: 8px;
 --transition-default: 0.3s ease-in-out;

 --12px: 0.75rem;
 --14px: 0.875rem;
 --15px: 0.9375rem;
 --16px: 1rem;
 --18px: 1.125rem;
 --20px: 1.25rem;
 --24px: 1.5rem;
 --28px: 1.75rem;
 --32px: 2rem;
 --40px: 2.5rem;
}
body {
  transition: var(--transition-default);
}
p {
  font-size: var(--16px);
}
.container {
 background-color: var(--bg-page);
 height: 100vh;
 align-items: center;
 display: flex;
}
.disabled {
    cursor: not-allowed !important;
}
button.lang-option:hover {
    background-color: var(--header-footer) !important;
}
button.lang-option.active:hover {
    background-color: var(--brand-blue) !important;
}
.disabled button {
  cursor: not-allowed !important;
}
.disabled .active {
  background-color: #607293 !important;
}
.chatbox-send-btn:disabled {
  background: white !important;
}
.chatbox-send-btn:disabled {
    background: var(--bg-language-switch) !important;
    cursor: not-allowed !important;
}
.language-switcher {
 background-color: var(--bg-language-switch);
 display: inline-flex;
 padding: 4px;
 border-radius: 20px;
 height: fit-content;
}
.lang-option {
 padding: 6px 6px;
 border: none;
 background-color: transparent;
 color: var(--text-subtitle);
 font-size: 11px;
 cursor: pointer;
 border-radius: 32px;
 transition: background-color var(--transition-default), color var(--transition-default);
}
.lang-option.active {
 background-color: var(--brand-blue);
 color: white;
}


.chatbox-container {
 width: 57%;
 margin: auto;
 border-radius: 20px;
 overflow: hidden;
 height: 95vh;
  display: flex;
  flex-direction: column;
}
.chatbox-header, .quick-prompts, .chatbox-messages, .chatbox-footer {
 padding: 0 12px;
}
.footer {
     padding-top: 8px;
    padding-bottom: 12px;
    background-color: var(--header-footer);
    border-radius: 12px;
}
#file-preview-container {
  margin-top: 5px;
    display: flex;
    padding: 0 12px;
    gap: 8px;
    flex-wrap: wrap;
}

.file-preview {
      display: flex;
    gap: 8px;
    background: var(--bg-page);
    padding: 6px;
    border-radius: 10px;
    font-size: var(--14px);
    margin-bottom: 8px;
    justify-content: space-between;
}
.message .file-preview {
  margin-bottom: 0;
}
.user-message:has(.file-preview) {
  border-radius: 12px;
  padding: 1px;
}

.file-header {
    display: flex;
    gap: 6px;
    margin-right: 6px;
}
.file-preview .remove-file {
background: none;
    border: none;
    cursor: pointer;
    color: red;
    background-color: white;
    height: 18px;
    border-radius: 15px;
}

.chatbox-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 12px;
 background-color: var(--header-footer);
 border-radius: 34px !important;
}
.logo-wrapper {
 display: flex;
 gap: 16px;
 justify-content: start;
 align-items: center;
}
.logo-wrapper img {
 height: 33px;
}

.logo-header-title {
 font-weight: 500;
 font-size: var(--18px);
 color: var(--text-dark);
}
.logo-header-subtitle {
 color: var(--text-subtitle);
 font-size: var(--12px);
}
.logo-header {
    display: flex;
    flex-direction: column;
      margin-top: -4px;
}
.chat {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
      position: relative;
}


p, b, span {
  color: var(--text-dark);
}
.quick-prompts-header {
 font-weight: 500;
 font-size: var(--28px);
 width: 61%;
 text-align: center;
 color: var(--text-dark);
 margin: auto;
 padding-bottom: 4px;
}
.quick-prompts-header span {
  color: var(--brand-blue);
      font-weight: 600;
}
.quick-prompts-subtitle {
    font-weight: 400;
    font-size: var(--14px);
    color: var(--text-dark);
    margin-bottom: 0 !important;
}
.title {
    width: 100%;
    text-align: center;
}
h3 {
    margin-bottom: 12px;
    font-weight: 500;
}

.quick-prompts-btn {
 color: var(--prompt-text);
 font-size: var(--14px);
 background-color: var(--header-footer);
 padding: 4px 8px;
 border-radius: 8px;
 width: fit-content;
 cursor: pointer;
 transition: var(--transition-default);
 box-shadow: 1px 1px 4px var(--button-shadow);
}
.quick-prompts-btn:hover {
 background-color: var(--border-color);
 color: var(--brand-blue);
}
.quick-prompts-cont {
 display: flex;
 flex-wrap: wrap;
 width: 80%;
 align-items: center;
 justify-content: center;
 gap: 8px;
}
.quick-prompts-footer .quick-prompts-cont {
  width: 95% !important;
}
.quick-prompts {
    gap: 12px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: -12px;
}

.chatbox-messages {
 display: none;
  scroll-behavior: smooth;
  padding-top: 12px;
}


.chatbox-footer {
 display: flex;
 justify-content: space-between;
     padding-top: 8px;
}

.chatbox-footer-btn {
 background: linear-gradient(90deg, #F99438, var(--brand-yellow));
 border-radius: 12px;
 border: none;
 padding: 6px 12px;
 font-size: var(--14px);
 cursor: pointer;
 font-weight: 500;
 color: var(--header-footer);
 transition: background-color var(--transition-default), color var(--transition-default);
}
.chatbox-footer-btn span {
  display: inline-block;
  margin-right: 4px;
  color: white;
}
.chatbox-footer-btn-questions {
  background: linear-gradient(90deg, #367AF3, var(--brand-blue));
}
.chatbox-footer-btn img {
  width: 16px;
  display: inline-block;
  margin-right: 8px;
}
.btn-cont .chatbox-footer-btn{
      display: flex;
    align-items: center;
    max-height: 32px;
}
.chatbox-footer-btn-questions {
 background-color: var(--brand-blue);
 /* margin: 0 4px; */
}
.chatbox-footer-btn:hover {
 background-color: #FFAA00;
 color: #FFF4CF;
}
.chatbox-footer-btn-questions:hover {
 background-color: #0087FF;
}

.chatbox-footer-btn-questions {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: var(--transition-default);
  width: 0;
  padding: 0;
}
.chatbox-footer-btn-questions.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
   padding: 6px 12px;
   width: auto;
   margin: 0 8px 0 0;
}

.upload img {
    width: 14px;
     cursor: pointer;
}
.gen-btn {
    display: flex;
    gap: 8px;
}
label.upload-btn {
    padding: 4px;
    background-color: #dee2e5;
    width: 33.25px;
    display: block;
    height: 100%;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.chatbox-send-btn {
 border-radius: 50px;
 background: linear-gradient(90deg, #367AF3, var(--brand-blue));
 border: none;
 padding: 4px;
 cursor: pointer;
 transition: background-color var(--transition-default);
 display: flex;
 align-items: center;
 justify-content: center;
 width: 33.25px;
 position: relative;
}
.chatbox-send-btn:hover {
 background-color: #0087FF;
}
.chatbox-send-btn img {
 height: 14px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    margin: auto;
}
.chatbox-input {
 border: none;
 padding: 0 12px;
 width: 100%;
 outline: none;
 resize: none;
 height: auto;
 height: auto;
  min-height: 1.5em;
  max-height: 150px;    
  line-height: 1.5em;
  background-color: var(--bg-chatbox);
      color: var(--text-dark);
}
.send-message {
    display: flex;
    width: fit-content;
    justify-content: space-between;
    transition: width 0.3s ease;
}

.bot-message p {
    margin-bottom: 10px;
}
ul, ol {
    padding: 6px 0 12px 30px;
}
li {
    margin-bottom: 12px;
}
img.team-member-img {
    width: 29%;
    display: block;
    border-radius: 12px;
    margin-top: 2%;
}
ul ul {
    padding-bottom: 0 !important;
    padding-top: 16px;
}
ul ~ img, ol ~ img, ul ~ h4, ol ~ h4  {
  margin-top: 0 !important;
}
.clear-btn {
    background: linear-gradient(90deg, #E9EDEF, #d9dee1);
    color: black;
    transition: all 0.4s ease-in;
}
.clear-btn:hover {
    background: linear-gradient(90deg, #ffffff, #ffffff) !important;
    color: black !important;
}
.upload-btn:hover {
  background-color: #ffffff !important;
}
article.team-member {
    margin-bottom: 24px;
    display: flex;
    justify-content: start;
    flex-direction: column-reverse;
        border-bottom: 1px solid var(--header-footer);
    padding-bottom: 24px;
}
.article-cont {
    width: 90%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    
}
.article-cont h4 {
  margin-top: 0 !important;
}
.article-cont h3 {
  margin-bottom: 6px !important;
}
.contact a {
    display: inline-block;
    margin-left: 12px;
}
.contact p:last-child {
    margin-top: 2px;
}
.text p {
    font-size: var(--15px);
}
.contact {
    font-size: var(--14px);
}
.contact p {
  margin-bottom: 0!important;
}

.article-cont h3 span {
    font-weight: 500;
}
.article-cont h4 span {
    font-size: var(--14px);
    font-weight: 400;
}
img.section-img {
    width: 70%;
    border-radius: 12px;
    display: block;
    margin: 16px 0 8px 0;
}
.message h2 {
    font-weight: 500;
    font-size: var(--20px);
    margin: 8px 0 8px;
}
hr {
    outline: none;
    border: 1px solid #f0f3f7;
    margin: 0px 0 12px;
}
.fade-out {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;

}
.fade-out-display-none {
  display: none;
}
.quick-prompts-btn:disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}
.message {
    padding: 7px;
    border-radius: 7px;
    width: fit-content;
    margin-bottom: 15px;
}
.user-message {
 border: 1px solid var(--border-color);
 align-self: flex-end;
 background: linear-gradient(90deg, #367AF3, var(--brand-blue));
 color: white;
 max-width: 90%;
}
.user-message p {
  color: white !important;
  width: 100%;
   white-space: pre-wrap;     
  overflow-wrap: anywhere;  
}
.message:first-child {
    margin-top: 16px;
}
.message:last-child {
    margin-bottom: 16px;
}
.chatbox-messages {
  height: 90% !important;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: all 0.3s ease;
}
.chatbox-messages::-webkit-scrollbar {
  display: none; 
}
.chatbox-footer-btn:disabled,
.chatbox-footer-btn-questions:disabled {
  opacity: 0.5;
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}
.btn-cont {
    width: fit-content;
    display: flex;
    justify-content: start;
        min-width: 17%;
}
.btn-cont button:nth-child(1), .btn-cont button:nth-child(2) {

  color: white;
}
.new-bot-message {
  min-height: 78.5%;

      margin-bottom: 5px;
      height: max-content;
}
.space {
    height: 15px;
    width: 100%;
}
b, strong {
    font-weight: 500;
}
.message h4 {
    font-weight: 500;
    margin: 16px 0 12px;
}
strong {
  display: inline-block;
  margin-right: 5px;
}
.quick-prompts-footer {
position: absolute;
    gap: 12px;
    margin: 12px 0 0 0;
    animation: slideUpFromBottom 0.4s ease;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 86;
    background-color: var(--bg-chatbox);
    border-top: 1px solid var(--border-color);
    padding: 12px 0;
    border-radius: 8px;
    bottom: 88px;
    width: 100%;
}
a {
    color: var(--brand-blue);
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#logo-dark {
  display: none;
}

@keyframes slideUpFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDownToBottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px); 
  }
}

.fade-out {
  animation: slideDownToBottom 0.3s ease forwards;
}

@media only screen and (max-width: 1224px){
.chatbox-container {
    width: 72%;
}
footer p {
    width: 55%;
}

.footer-btn-cont {
    justify-content: center !important;
    flex-direction: column;
    gap: 4px;
            align-items: end;
}
}
@media only screen and (max-width: 1024px){
     #chatbox-container {
        width: 95%;
    }


  footer p {
    width: 68%;
  }
}
@media only screen and (max-width: 768px){
  .btn-cont {
    min-width: 41% !important;
  }
  .logo-header-title {
    font-size: var(--16px);
  }
  .logo-header-subtitle {
    display: none;
  }
.footer-btn-cont {
    flex-direction: row !important;
    width: 100% !important;
    justify-content: left !important;
}
.footer-btn {
    margin: 0 12px 0 0;
}
  footer {
    flex-direction: column;
    gap: 8px;
  }
footer p {
    width: 100% !important;
}
  .chatbox-container {
    height: 97vh;
  }
  .quick-prompts-footer {
    bottom: 75px;
  }
       .new-bot-message {

        min-height: 82.5%;
    }
    .message {
    margin-bottom: 8px;
}
    .chatbox-footer-btn img {
    margin-right: 0;
    display: none;
}
.gen-btn {
    gap: 4px;
}
button.chatbox-footer-btn.chatbox-footer-btn-questions {
    padding: 0;
}
.chatbox-footer-btn-questions.visible{
  padding: 9px 12px;
        font-size: var(--12px);
        height: fit-content;
}
.chatbox-header .clear-btn {
    display: block !important;
}
.footer .clear-btn {
    display: none;
}
.logo-header {
    display: none;
}
    .chatbox-footer-btn-questions.visible {
        margin: 0 6px;
    }
.chatbox-footer-btn {
    padding: 9px 12px;
    font-size: var(--12px);
    height: fit-content;
}
.chatbox-footer-btn-questions.visible {
    padding: 9px 12px !important;
}
      .quick-prompts-header {
        font-size: var(--20px);
        width: 80%;
        margin-bottom: 6px;
    }
  .quick-prompts-cont {
    width: 100% !important;
  }
  .quick-prompts-btn {
    font-size: var(--12px) !important;
  }
  img.team-member-img {
    width: 100%;
  }
  .article-cont {
    width: 100%;
  }
  img.section-img {
    width: 100%;
  }
  button.footer-btn {
    margin: 0 12px 0 0;
  }
}

.btn {
    display: flex;
    gap: 6px;
}

@media only screen and (max-width: 425px){
  
h2.logo-header-title {
    width: 150px;
    font-size: var(--14px);
}
.chatbox-footer-btn-questions {
    margin: 0 2px;
}
.chatbox-footer-btn-questions.visible {
    margin: 0 4px;
}
}


.toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: sans-serif;
}

.toggle-switch {
  position: relative;
  width: 60px;
  height: 32px;
  display: inline-block;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  background-color: #ddd;
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  overflow: hidden;
}

.slider::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: #999;
  border-radius: 50%;
  transition: 0.3s;
}

.icon {
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.moon-icon {
  left: 10px;
  opacity: 1;
}

.sun-icon {
  right: 10px;
  opacity: 0;
}
input:checked + .slider {
  background-color: #2c5eff;
}

input:checked + .slider::before {
  transform: translateX(28px);
  background-color: white;
}

input:checked + .slider .moon-icon {
  opacity: 0;
}

input:checked + .slider .sun-icon {
  opacity: 1;
}
.chatbox-header .clear-btn {
    display: none;
}
@media only screen and (max-width: 380px){
  .chatbox-footer-btn span {
    display: none;
  }

}
footer {
    background-color: var(--brand-blue);
    padding: 12px 2.5%;
    display: flex;
    justify-content: space-between;
}
footer p {
  width: 70%;
  color: white;
}
.footer-btn {
    height: fit-content;
    margin-left: 12px;
}
.footer-btn p {
  text-decoration: underline;
}
.footer-btn-cont {
    width: 20%;
    display: flex;
    justify-content: end;
}

footer p {
    font-size: var(--14px);
}